{% extends 'base.html' %}


{% block base %}

    <br/>
    <br/>
    <br/>

    <section id="main" class="container">

        <ul>
            {% for post in object_list %}
            
                <li class="blog__post">
                    <h3>{{post.title}} - {{post.author}}</h3>
                    {{post.body}}

                    <br/>
                    <br/>
                    <a href={% url 'post_detail' post.pk %} class="btn btn-primary">read more</a>
                </li>

                <br/>
                <br/>

            {% endfor %}
        </ul>


    </section>

{% endblock %}
