{% extends 'base.html' %}



{% block styling %}
   <style>
    .title{
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    .title small{
        margin-bottom: 0;
    }
   </style> 
{% endblock styling %}



{% block base %}

    <br/>
    <br/>
    <br/>

    <section id="main" class="container">

        <ul>
            {% for post in object_list %}
            
                <li class="blog__post">
                    
                    <div class="title">
                        <h3>
                            {{post.title}} - {{post.author}} 
                        </h3>
                        <small>
                            <a href={% url 'update_post' post.pk %}>
                                (Edit)
                            </a>
                        </small>
                    </div>
                    

                    {{post.body}}

                    <br/>
                    <br/>
                    <a href={% url 'post_detail' post.pk %} class="btn btn-primary">read more</a>
                </li>

                <br/>
                <br/>

            {% endfor %}
        </ul>


    </section>

{% endblock %}
