{% extends 'base.html' %}


{% block title %}
   {{post.title}} 
{% endblock title %}




{% block base %}
   
    <div class="container">

        <br/>
        <br/>
        <br/>

        <h1>{{post.title}}</h1>
        <br/>
        <br/>

        {{post.body}}
        
        <br>
        <br/>
        <h4>by: {{post.author}}</h4>

        <br/>

        <a href={% url 'home_page' %} class="btn btn-secondary"> back to home </a>
        <a href={% url 'update_post' post.pk %} class="btn btn-secondary">
            update post
        </a>


    </div>


{% endblock base %}

